<div id="map"
    style="width: 100%; height: 50vh; position: fixed; top: 60px; z-index: 9;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<div class="container mx-auto" style="margin-top: 65vh;">
  <h1 class="my-5"><%= @boats.size %> bateaux trouvés</h1>
  
  <div class="row">
    <% @boats.each do |boat| %>
      <div class="co-12 colsm-6 col-md-4 mb-3">
        <%= link_to boat_path(boat, debut: params[:debut], fin: params[:fin]), class:'text-decoration-none' do %>
          <div class="card-trip ">
            <div class="card-trip-img " style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= boat.photo.attached? ? cl_image_path(boat.photo.key) : asset_path('list_background.png') %>)">
              <div class="card-trip-pricing ">
                <h3>CHF <%= '%.2f' % boat.price.round(2) %></h3>
                <h6>par jour</h6>
              </div>
            </div>
            <div class="card-trip-infos ">
              <h2><%= boat.name.capitalize %></h2>
              <p><%= boat.description %></p>
              <p><strong><%= boat.zip_code %> <%= boat.city %></strong></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>