<div class="container" style="margin-top: 5em">
  <div class="bar-add-delete-edit">
    <div>
      <h1>Mes bateaux</h1>
    </div>
    <div class="">
      <%= link_to "Ajouter un bateau", new_boat_path, class: "btn btn-clr btn-lg" %>
    </div>
  </div>

  <% @my_boats.each do |my_boat| %>
    <div class="card-show mt-3 container">
      <div class="mt-3">
        <h2 class="mt-2"><strong>Name: </strong><%= my_boat.name.capitalize %></h2>
        <h2 class="mt-2"><strong>Location: </strong><%= my_boat.address %></h2>
        <h2 class="mt-2"><strong>Price: </strong><%= my_boat.price %> CHF.- par jour</h2>
      </div>
      <div>
        <%= link_to boat_path(my_boat) do %>
          <%= my_boat.photo.attached? ? cl_image_tag(my_boat.photo.key, class: "card-show-img") : image_tag('list_background.png', class: "card-show-img")%>
        <% end %>
      </div>
    </div>
    <div class="container">
      <h3>Réservations à venir</h3>
      <% if  my_boat.bookings.upcomming.size == 0 %>
        <p>Le bateau n'a pas de réservations.</p>
      <% else %>
        <ul>
        <% my_boat.bookings.upcomming.each do |booking| %>
          <li>
            <p>Reservé du <%= booking.start_date %> au <%= booking.end_date %> pour <%= booking.invoice %> chf </p>
          </li>
        <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>
