<%= simple_form_for @boat do |f| %>
  <div class="personal-information">
    <h2>Boat information</h2>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, "Add your boat!", class: "btn btn-primary btn-lg"%>
  </div>
<% end %>